---
version: '3.8'
services:
  proxy:
    image: nginx:alpine
    container_name: proxy
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    restart: 'unless-stopped'
    networks:
      - backend

  server:
    build:
      context: ./packages/backend
      target: development-build-stage
    container_name: server
    ports:
      - '3000:3000'
    volumes:
      - ./:/app
      - /app/node_modules
    restart: 'unless-stopped'
    networks:
      - backend
    links:
      - mongo
    depends_on:
      - mongo

  mongo:
    image: amd64/mongo:6.0.3-focal
    container_name: mongo
    ports:
      - '27071:27017'
    restart: always
    env_file:
      - .env.development.local
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  data:
    driver: local
